.nav { 
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo-store {
    width: 50px;
    margin: 2px;
    background-color: white;
    padding: 4px;
    border-radius: 10px;
    vertical-align: middle;
    border-style: none;
}

.number-of-articles {
    text-align: right;
    color: white;
    display: inline-block;
    margin-left: 20px ;
}

@media (max-width: 500px) {
    .number-of-articles {
        text-align: center;
        color: white;
        display: inline-block;
        margin-left: 20px ;
    }
}